.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chakra-modal__close-btn {
  background-color: rgb(159, 4, 4);
}

.chakra-modal__close-btn:hover {
  background-color: rgb(219, 180, 28);
}

.css-onkibi > path {
  fill: white;
}

.content {
  height: fit-content;
  padding-bottom: 0 !important;
}

.css-k7r2wc > option {
  background-color: rgba(7, 30, 43, 0.9) !important;
}

.css-1ebjxf3 {
  width: 100px !important;
}
